body, html {
  position: fixed;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

* {
  -webkit-user-select: none;
  user-select: none;
}

.photonui-gridlayout table {
  width: 100%;
  height: 100%;
}

/* Apply to second column */
#details .photonui-gridlayout table td + td {
  width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  text-align: center;
  font: sans-serif;
  color: #444;
  pointer-events: none;
  -webkit-user-select: none;
  top: -25px;
  font-size: 30px;
}

#widgetArea {
  position: absolute;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  min-width: 500px;
  min-height: 300px;
  background-color: #FFF;
  box-shadow: 0px 0px 5px #444;
  border-radius: 2px;
  padding: 5px;
}

.middleSection {
  height: 100%;
}

.listSelect {
  width: 200px;
  margin-bottom: -2px;
}

#topBar .enableToggle {
  width: 75px;
}

#leftBar  {
  box-sizing: border-box;
  float: left;
  height: calc(100% - 75px);
  width: 330px;
}

#leftBar .photonui-layout-orientation-vertical > table {
  border-spacing: 0px 1px !important;
}

#topControls {
  margin-top: 2px;
}

#topControls .photonui-button {
  line-height: 1em;
  height: 30px !important;
  width: 40px !important;
}

#topControls .addButton {
  width: auto !important;
}

#topControls .removeButton {
  width: auto !important;
}


#filterList {
  height: 100% !important;
  margin: 0px;
  padding-top: 5px;
  overflow: auto !important;
}

.listButton {
  background-color: #F9F9F9;
  margin: 0px;
  padding: 0px;
  padding-left: 5px;
  line-height: 25px;
  text-align: left;
  min-width: 315px;
  max-width: 315px;
  overflow: hidden;
  border: none;
}

.listButton:hover {
  background-color: #F1F1F1;
}

.photonui-button.active {
  color: #FFF;
  text-shadow: 1px 1px 0px #01585F;
  background-color: #3BC5D2;
}

.positionButton {
  min-width: 100%;
  max-width: 100%;
}

#details {
  box-sizing: border-box;
  padding: 10px;
  float: left;
  height: 100%;
  width: calc(100% - 330px);
}

#details table {
  width: 100%;
  height: 100%;
}
